registry = "https://registry.npm.taobao.org"
@dpark:registry="http://npm.dpark.com.cn/npm"
//npm.dpark.com.cn/:_authToken="PfUT/eUqprSHqWSfoS/Suw=="
//npm.dpark.com.cn/:always-auth=true
//npm.dpark.com.cn/:email = xhgainxq@qq.com
