.mt-pro-panel{
  width: 100%;
  height: 100%;
  .panel-title{
    width: 70px;
    padding: 2px;
    margin-right: 6px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  /deep/ .el-form-item__label{
    font-size: 12px;
    line-height: 30px;
  }
  /deep/ .el-form-item__content{
    line-height: 30px;
  }
  /deep/ .el-form-item{
    margin-bottom: 8px;
  }
  /deep/ .el-tabs__content {
    height: 90%;
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  /deep/ .el-tabs__content::-webkit-scrollbar {
    display: none;
  }
  /deep/ .el-collapse-item__wrap{
    overflow-x: auto;
  }
  .none-label /deep/ .el-form-item__content {
    margin-left: 0 !important;
  }
}