.mt-pro-panel {
  width: 100%;
  height: 100%;
  .select-input-option {
    .el-input__inner {
      padding-right: 41px;
    }
    .el-input::after {
      position: absolute;
      right: 30px;
      top: 0;
      content: 'px';
      color: #666666;
      opacity: 0.5;
    }
    .el-select-dropdown__item::after {
      content: 'px';
    }
  }
  .number-box {
    .el-input__inner {
      padding-left: 10px !important;
      text-align: left !important;
    }
  }
  .empty_number {
    display: flex;
    margin-right: 10px;
    .empty_number_name {
      width: 15px;
      color: #888888;
    }
    input {
      height: 18px;
      width: 60px;
      border: none;
      border-bottom: 1px solid #535353;
      border-radius: 0;
      padding: 0;
    }
  }
  .mt-boolean-inactive {
    width: 100%;
    text-align: right;
    .el-switch__core::after {
      background: #ebebeb;
    }
  }
  .mt-boolean-active {
    width: 100%;
    text-align: right;
    .el-switch__core::after {
      background: #4634ee;
      border: 1px solid #ffffff;
      box-shadow: #00000075 0 0 6px;
    }
  }
  .el-switch {
    .el-switch__core {
      border: 1px solid #dddddd !important;
    }
  }
  .div-control {
  }
  .flex-center {
    display: flex;
    align-items: center;
  }
  .left-width {
    align-items: center;
    width: 50px;
    display: flex;
    justify-content: center;
  }
  .left-margin {
    margin-right: 10px;
  }
  .panel-title {
    width: 70px;
    margin-right: 10px;
    margin-left: 20px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: bold;
    color: #333333;
  }
  .el-tabs {
    width: 100%;
    flex: 1;
    display: flex;
    overflow: hidden;
    flex-direction: column;
  }

  .el-tabs__item.is-active {
    color: #4634ee;
  }

  .el-tabs__active-bar {
    background: linear-gradient(90deg, #6d5eff, #918eff);
    height: 3px;
  }

  .el-tabs__header {
    border-bottom: none !important;
    padding: 0 30px 0 20px;
    margin: 0;
    // height: 80px;
  }

  .el-tabs__nav-wrap::after {
    background-color: unset;
  }
  .el-form-item__label {
    font-size: 12px;
    line-height: 30px;
  }
  .el-form-item__content {
    line-height: 28px;
  }
  .el-form-item {
    margin-bottom: 8px;
  }
  .el-tabs__content {
    height: calc(100% - 40px);
    overflow: hidden;
    overflow-y: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .el-tabs__content::-webkit-scrollbar {
    display: none;
  }
  .el-collapse-item__wrap {
    overflow-x: auto;
    border-width: 280px;
    border-bottom: 1px dotted #e9e9eb;
  }
  .none-label .el-form-item__content {
    margin-left: 0;
  }
  .horizontal-control {
    .text-style-col:nth-child(1) {
      .empty_number {
        margin-right: 37px;
      }
    }
  }
  .horizontal-control {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 100%;
    .text-style-col {
      // height: 28px;
      line-height: 28px;
    }
    .text-style-col {
      margin-right: 4px;
      margin-bottom: 8px;
    }
    .el-input-number {
      position: relative;
    }
    .unit-px:after {
      position: absolute;
      right: 4px;
      top: 0;
      content: 'px';
      color: #666666;
      opacity: 0.5;
    }
    .center {
      input {
        text-align: center !important;
      }
    }
    .unit-percent:after {
      position: absolute;
      right: 4px;
      top: 0;
      content: '%';
      color: #666666;
      opacity: 0.5;
    }
    .text-style-col .el-input__inner {
      padding-left: 0;
      padding-right: 0px;
      text-align: left;
      text-indent: 3px;
      height: 26px;
      line-height: 26px;
    }
    .text-style-col {
      .el-input-number__decrease {
        width: 12px;
      }
      .el-input-number__increase {
        width: 12px;
      }
      .el-input-number {
        width: 60px;
      }
      .el-select {
        width: 75px;
        .el-input__suffix {
          right: -2px;
        }
      }
    }
  }
  .array-control {
    i {
      margin-left: 8px;
      cursor: pointer;
    }
  }
  .icon-drop {
    line-height: 22px;
    // padding: 2px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 28px;
    text-align: center;
    box-sizing: border-box;
    // border: 1px solid #e6e6e6;
    border-radius: 4px;
  }
  .mt-pro-div {
    margin-top: 10px;
    padding: 0px 20px;
  }

  .mt-pro-collapse {
    .el-collapse-item__header {
      display: -webkit-box;
      position: relative;
    }
    .mt-pro-collapse-tools {
      position: absolute;
      top: 0px;
      right: 30px;
    }
    .el-collapse-item__content {
      padding: 0 20px 0 20px;
    }
  }
  .data-components {
    padding: 0px 10px;
    width: 100%;
    height: 100%;
    .none-label .el-form-item__content {
      margin-left: 0;
    }
    .el-input--small .el-input__inner {
      height: 26px;
      line-height: 26px;
    }
  }
  .label-min {
    .el-form-item__label {
      min-width: 50px;
    }

    .el-select {
      width: 100%;
    }
  }
  .single-con {
    padding: 0 10px;
    margin-top: 10px;
  }
  .el-collapse-item.is-disabled {
    .el-collapse-item__header {
      cursor: default;
    }
    .el-collapse-item__arrow {
      visibility: hidden;
    }
  }
}
// 实现虚线下拉框样式
.lineSelect {
  text-overflow: clip !important;
  width: 100px;
  padding: 0 5px;
}
