.mtScale[theme='light']{
  --background-color:#e9e9eb;
  --link-color:#409EFF;
  --border-color:#DCDFE6;
  --tool-bg:#fff;
  --ruler-bg:#e9e9eb;
  --ruler-color:#409EFF;
  --line-bg:#409EFF;
  --tool-icon:#909399;
}
.mtScale[theme='dark']{
  --background-color:#202835;
  --link-color:#409EFF;
  --border-color:#181f29;
  --tool-bg:#202735;
  --ruler-bg:#1e2532;
  --ruler-color:#009dff;
  --line-bg:#009dff;
  --tool-icon:#99a5be;
}

.mtScale{
  position: relative;
  overflow: hidden;
  flex: 1;
  display: inline-flex;
  flex-flow: column;
  justify-content: flex-start;
  background-color: var(--background-color);
  .el-dropdown-link {
    cursor: pointer;
    color: var(--link-color);
    user-select: none;
  }
  .mtScale-view{
    transition: all ease 0.3s;
  }
  .mtScale-container{
    background-repeat: repeat repeat;
    flex: 1;
    overflow: hidden;
    width: 100%;
    height: 100%;
    position: relative;
  }
  .mtScale-has-ruler{
    width: calc(100% - 20px);
    height: calc(100% - 20px);
    margin-left: 20px;
    margin-top: 20px;
  }
  .mtScale-control{
    padding: 0 10px;
    height: 30px;
    line-height: 30px;
    z-index: 10000;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, .12), 0 0 6px rgba(0, 0, 0, .04);
    border-top: 1px solid var(--border-color);
    background-color: var(--tool-bg);
    text-align: right;
  }
  .mtScale-control-item{
    display: inline-block;
    cursor: pointer;
  }
  .mtScale-control-item+.mtScale-control-item{
    margin-left: 10px;
  }
  .ruler-container-top,.ruler-container-right{
    box-sizing: border-box;
    border-color: var(--border-color);
    background: var(--ruler-bg);
    border-style: solid;
  }
  .ruler-container-top{
    height: 20px;
    position:absolute;
    top: 0;
    left: 20px;
    right:0;
    z-index: 2;
    box-sizing: border-box;
    border-left: none;
    border-top: none;
    border-right: none;
    border-bottom-width: 1px;
  }
  .ruler-container-right{
    width: 20px;
    position:absolute;
    top: 20px;
    left: 0;
    bottom:0;
    z-index: 2;
    border-left: none;
    border-top: none;
    border-bottom: none;
    border-right-width: 1px;
  }
  .cursor-move{
    cursor: move;
  }
  .ruler-content{
    z-index: 9999;
  }
  .ruler-item{
    position: absolute;
    top: 0px;
    height: 100%;
    cursor: ew-resize;
  }
  .ruler-text{
    color: var(--ruler-color);
    text-indent: 4px;
    position: absolute;
    user-select:none;
  }
  .ruler-line{
    width: 1px;
    height: 100%;
    background-color: var(--line-bg)
  }
  .control-icon{
    color: var(--tool-icon)
  }
  .icon-zoom{
    font-size: 14px;
    margin-left: 8px;
    margin-right: 8px;
  }
  .dark-bg{
    background-color: var(--background-color);
  }
  .photoshop-bg{
    background-image: url("../img/scaleBg.png");
  }
}