html,body{
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;
}
.xxWeb{
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;
  justify-content: center;
  .no-authority-2{
    display: inline-flex;
    align-items: center;
    margin: 0 auto;
    margin-top: 150px;

  }
}